In [7]:
import pandas as pd
import numpy as np
import plotly
import importlib
import asana
import wartsila_asana_utils as wa

import plotly.express as px

In [13]:
importlib.reload(wa)

# Getting all the Data

In [9]:
df_global = wa.get_global_portfolio_data()

In [12]:
df_rstasks = wa.get_resource_project_data()

In [15]:
df_personnel = wa.get_delivery_personnel_data()

## Merging Portfolio Data with Resource Task Data

In [46]:
df_rglobal = df_rstasks.merge(df_global, left_on='eso_project_name', right_on='name').drop(columns=['name'])

# Engineering Additional Columns

In [61]:
def add_workload_units(df):
    df['workload_units'] = 1
    return df

In [65]:
def add_role_group_column(df):
    df['role_group'] = df['Role [ESO]']
    
    # Groups
    cx_group = ['Commissioning Manager','Commissioning Engineer']
    
    conditions = [df['Role [ESO]'] == cx_group]
    choices = ['Commissioning Personnel']
        
    df['role_group'] = np.select(conditions, choices, default=df['Role [ESO]'])
        
    return df

In [69]:
def add_engineered_columns(df):
    df = add_workload_units(df)
    #df = add_role_group_column(df)
    return df

In [70]:
df_rglobal = add_engineered_columns(df_rglobal)
df_rglobal

,assignee_name,role,region,eso_project_name,start_date,due_date,project_type,gid,resource_type,[ESO] Stage,...,Batt Enclosure (qty),Inverter Qty [ESO],ACC/DCC Qty,Product,Role [ESO],Delivery Roles [ESO],Status (Design),Effort level?,workload_units,role_group
0,unassigned,CPE Civil,MEA,OP/769325 - Niuchaopu,2023-04-03,2023-09-29,no_type,1202710454262620,project,A,...,none,none,none,none,none,NaN,NaN,NaN,1,none
1,unassigned,Project Manager,MEA,OP/769325 - Niuchaopu,2022-09-29,2023-09-29,no_type,1202710454262620,project,A,...,none,none,none,none,none,NaN,NaN,NaN,1,none
2,unassigned,Solution Engineer,MEA,OP/769325 - Niuchaopu,2023-04-03,2023-09-29,no_type,1202710454262620,project,A,...,none,none,none,none,none,NaN,NaN,NaN,1,none
3,unassigned,Commissioning Engineer,MEA,OP/769325 - Niuchaopu,2023-04-03,2023-09-29,no_type,1202710454262620,project,A,...,none,none,none,none,none,NaN,NaN,NaN,1,none
4,unassigned,System Engineer,MEA,OP/769325 - Niuchaopu,2022-09-29,2023-09-29,no_type,1202710454262620,project,A,...,none,none,none,none,none,NaN,NaN,NaN,1,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,Nabeel Yaseen,Solution Engineer,EUAF,P/22201 SSE Salisbury 49.5MW,2022-04-01,2023-09-22,EPC,1202021927476446,project,G2 - Delivery,...,76,17,26,Quantum,CPE Civil,Systems Engineer,none,none,1,CPE Civil
451,alec.stablow@wartsila.com,SW Engineer,EUAF,P/22201 SSE Salisbury 49.5MW,2022-04-01,2023-09-22,EPC,1202021927476446,project,G2 - Delivery,...,76,17,26,Quantum,CPE Civil,Systems Engineer,none,none,1,CPE Civil
452,Daniel Hockborn,Commissioning Manager,EUAF,P/22201 SSE Salisbury 49.5MW,NaT,2022-08-31,EPC,1202021927476446,project,G2 - Delivery,...,76,17,26,Quantum,CPE Civil,Systems Engineer,none,none,1,CPE Civil
453,Daniel Hockborn,Commissioning Manager,EUAF,P/22201 SSE Salisbury 49.5MW,NaT,2022-08-31,EPC,1202021927476446,project,G2 - Delivery,...,76,17,26,Quantum,CPE Civil,Systems Engineer,none,none,1,CPE Civil
454,Daniel Hockborn,Commissioning Manager,EUAF,P/22201 SSE Salisbury 49.5MW,NaT,2022-08-31,EPC,1202021927476446,project,G2 - Delivery,...,76,17,26,Quantum,CPE Civil,Systems Engineer,none,none,1,CPE Civil

# Refactoring the resource Analysis

In [ ]:
### Initial Data PreProcessing 
def prepare_data_for_analysis(df_in, use_pj_groups=True)
    """
    Input
    -----
    df_in : dataframe - preformatted tasks from asan api
    use_pj_groups : apply groupings to colocated Wartsila Projects
    
    Returns
    -------
    
    
    """

    if use_pj_groups:
        df_tasks = make_project_groups(df_in.copy())
        print('using groups')
    else:
        df_tasks = df_in.copy()
   
    ## Unassigned - Cx
    # get all cx 'unassigned' tasks (denoted by 'Antti Pitkanen' as assignee)
    df_t = df_tasks
    df_t = df_t[df_t['assignee_name']=='Antti Pitkänen']

    ## Reference Cx Personnel
    pdb_list = wa.get_persondb_api_data()
    df_personnel_master = wa.make_persondb_df(pdb_list)
    df_p_all = df_personnel_master.copy()

    cx_all_persons = df_p_all[df_p_all['role'].isin(['Commissioning Manager', 'Commissioning Engineer'])].sort_values('region')
    cx_all_persons_count = cx_all_persons['person_name'].nunique()
    list_all_cx_persons = cx_all_persons['person_name'].tolist()

    ## Assigned - Cx
    # Get tasks assigned to Cx Managers or Cx Engineers
    roles_list = ['Commissioning Manager', 'Commissioning Engineer']
    df_ass = df_tasks.copy()
    df_ass = df_ass[df_ass['role'].isin(roles_list)]

    # exclude unassigned tasks
    df_ass = df_tasks.copy()
    exclude_assignee_list = ['Antti Pitkänen', 'unassigned']
    df_ass = df_ass[~df_ass['assignee_name'].isin(exclude_assignee_list)]

    # verify assignees against master list
    # todo determine if we need to add region filter
    df_ass = df_ass[df_ass['assignee_name'].isin(cx_all_persons['person_name'].to_list())]

    ## Assigned and Unassigned 
    df_cx_all = pd.concat([df_t, df_ass])
    
    return df_cx_all, df_t, df_ass

In [ ]:
### Applying Analysis Functions 
    ## return values

### Create Plots