In [7]:
import pandas as pd
import datetime

In [1]:
# prepare future projects df

In [ ]:
dict_month_active_projects_count()

In [4]:
# month range
min_date = "2022-08-31"
max_date = "2023-06-30"
date_ranges_m = pd.period_range(min_date, max_date, freq='M')

In [11]:
df_date_ref_m = pd.DataFrame(date_ranges_m, columns=['year_month'])

   year_month
0     2022-08
1     2022-09
2     2022-10
3     2022-11
4     2022-12
5     2023-01
6     2023-02
7     2023-03
8     2023-04
9     2023-05
10    2023-06

In [41]:
def make_manual_date_ref():
    dates_ref_list = [
        ['2022-08-01','2022-08-31','2022-august'],
        ['2022-09-01','2022-09-30','2022-september'],
        ['2022-10-01','2022-10-31','2022-october'],
        ['2022-11-01','2022-11-30','2022-november'],
        ['2022-12-01','2022-12-31','2023-december'],
        ['2023-01-01','2023-01-31','2023-january'],
        ['2023-02-01','2023-02-28','2023-february'],
        ['2023-03-01','2023-03-31','2023-march'],
        ['2023-04-01','2023-04-30','2023-april'],
        ['2023-05-01','2023-05-31','2023-may'],
        ['2023-06-01','2023-06-30','2023-june'],
    ]

    df_dates_ref = pd.DataFrame(dates_ref_list, columns=['first_of_month','end_of_month','year_month'])

    df_dates_ref['first_of_month'] = pd.to_datetime(df_dates_ref['first_of_month'])
    df_dates_ref['end_of_month'] = pd.to_datetime(df_dates_ref['end_of_month'])
    
    return df_dates_ref

In [43]:
make_manual_date_ref()

   first_of_month end_of_month      year_month
0      2022-08-01   2022-08-31     2022-august
1      2022-09-01   2022-09-30  2022-september
2      2022-10-01   2022-10-31    2022-october
3      2022-11-01   2022-11-30   2022-november
4      2022-12-01   2022-12-31   2023-december
5      2023-01-01   2023-01-31    2023-january
6      2023-02-01   2023-02-28   2023-february
7      2023-03-01   2023-03-31      2023-march
8      2023-04-01   2023-04-30      2023-april
9      2023-05-01   2023-05-31        2023-may
10     2023-06-01   2023-06-30       2023-june

In [3]:
import datetime as dt

In [6]:
date1 = dt.datetime('2022-01-01')
date2 = dt.datetime('2025-01-01')

TypeError: 'str' object cannot be interpreted as an integer

In [7]:
date_range = pd.date_rante(date1, date2)

NameError: name 'pd' is not defined